/* base.html */

.main-nav-col {
    padding: 0% !important;
}

.home-nav-expand {
    padding-bottom: 0% !important;
}

.main-nav {
    background-color: rgb(13, 110, 253);
    /* background-color: white; */
}

.nav-container-fluid {
    padding: 0% !important;
}

.nav-api-link {
    color: black;
    text-decoration: none;
}

.nav-home {
    color: black !important;
    font-size: 46px !important;
    text-decoration: none;
}

/* home.html */

.each-object {
    padding-left: 10px;
    padding-right: 10px;
}

.each-object:hover {
    background-color: #f2f3f2;
    /* background-color: bisque; */
    transition: all .5s;
}

.main-col {
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

/* doesnt work */
.tag_simesince {
    font-size: 1px !important;
    font-weight: bold !important;
}

.link-title-home {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.home-title {
    margin-bottom: 5px !important;
}

.likes-home {
    margin-left: 5px;
}