<div id="flex-container" style="display: flex; justify-content: space-between !important;">
    <div>CREATED POSTS:</div>
    {% if user.is_authenticated %}
        <div>{{ user }}</div>
        <a href="{% url 'password_change' %}">Change Password</a>
    {% else %}
        <div>User</div>
        <a href="{% url 'create_account' %}">Create Account</a>
    {% endif %}
</div>


{% if user.is_authenticated %}
<a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
{% for obj in post_qs %}
    <p><a href="{% url 'single_post' obj.pk %}">{{ obj.title|safe }}</a> - 
    {{ obj.tag }}
{% endfor %}

<p><a href="{% url 'create' %}">Create</a></p>